<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Insert</title>
    <style>
        .button1{
        height:75px;
        width:250px;
        background-color:#007ACC;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        border-radius:12px;
        box-shadow: 4px 4px 4px black;
        }
        div{
        height:80px;
        width:250px;
        margin-left:auto;
        margin-right:auto;
        }
    </style>
</head>
<body style="background-color:#3E3E42;">
<h1 style="text-align:center;"><font style="background-color:aqua;">Employee Information Insert</font></h1>
<div>
    <form style="background-color:#ffffff;" action="#" th:action="@{/HRM/api/add}" th:object="${HR}" method="post" >
        <br><label><font style="text-align:center;" >Employee ID</font></label><br>
        <input type="text" th:field="*{empID}"><br><br>
        <br><label><font style="text-align:center;" >Employee name</font></label><br>
        <input type="text" th:field="*{empName}"><br><br>
        <label for="Status"><font style="text-align:center;" >Employee Status</font></label><br>
        <select th:field="*{empStatus}" id="Status">
            <option value="Employed">Employed</option>
            <option value="Active">Active</option>
            <option value="Suspended">Suspended</option>
        </select><br><br>
        <label><font style="text-align:center;" >Contact Number</font></label><br>
        <input type="text" th:field="*{contactNo}"><br><br>
        <label><font style="text-align:center;" >Employee Email</font></label><br>
        <input type="text" th:field="*{email}"><br><br>
        <label><font style="text-align:center;" >Joining Date</font></label><br>
        <input type="text" th:field="*{joiningDate}"><br><br>
        <label><font style="text-align:center;" >Password</font></label><br>
        <input type="text" th:field="*{password}"><br><br>
        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>